<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Good read</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
  
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
  
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
      <!-- fancybox stylesheets -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  
      <!-- gijgo stylesheets -->
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <!-- header section start -->
<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo" href="index.html"><img src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-books' %}">My Books</a>
                </li>
                
            </ul>
            <div class="search_icon">
                <a href="{% url 'signup' %}">
                    <img src="{% static 'images/user-icon.png' %}">
                    <span class="padding_left_15">WELCOME ,{{ username }}</span>
                </a>
            </div>

         
            
        </div>
    </nav>
</div>
<!-- header section end -->


   <!-- banner section end -->
   <div class="banner_section layout_padding">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="banner_taital">READ <br>HONEST REVIEWS ABOUT YOUR FAVOURITE BOOKS</div>
                   <p class="banner_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                   <div class="see_bt"><a href="#">See More</a></div>
               </div>
               <div class="col-md-6">
               </div>
           </div>
       </div>
   </div>
   <!-- banner section end -->
   <!-- arrival section start -->
   <div class="arrival_section layout_padding">
       <div class="container">
           <div class="row">
               <div class="col-sm-6 col-lg-4">
                   <div class="image_1">
                       <h2 class="jesusroch_text">J E S U S R O C H</h2>
                       <p class="movie_text">Hollywood Movie</p>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4">
                   <div class="image_2">
                       <h2 class="jesusroch_text">J E S U S R O C H</h2>
                       <p class="movie_text">Hollywood Movie</p>
                   </div>
               </div>
               <div class="col-sm-8 col-lg-4">
                   <h1 class="arrival_text">A r r i v a l</h1>
                   <div class="movie_main">
                       <div class="mins_text_1">150 mins</div>
                       <div class="mins_text">Actions Movie</div>
                       <div class="mins_text"><img src="{% static 'images/icon-1.png' %}"><span class="icon_1">Watchlist</span></div>
                   </div>
                   <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
                   <div class="rating_main">
                       <div class="row">
                           <div class="col-sm-6 col-lg-6">
                               <div class="icon_2"><img src="{% static 'images/icon-2.png' %}"><span class="padding_10">4.6 Revieweed</span></div>
                           </div>
                           <div class="col-sm-6 col-lg-6">
                               <div class="icon_2"><img src="{% static 'images/icon-2.png' %}"><span class="padding_10">Your Rateing</span></div>
                           </div>
                       </div>
                   </div>
                   <div class="paly_bt"><a href="#">Play Now</a></div>
               </div>
           </div>
       </div>
   </div>
   <!-- arrival section end -->
      <!-- movies section start -->
      <div class="movies_section layout_padding">
         <div class="container">
            <div class="movies_menu">
               <ul>
                  <li class="active"><a href="#">Overview</a></li>
                  <li><a href="tv.html">TV</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="#">Show</a></li>
                  <li><a href="celebs.html">Celeb</a></li>
                  <li><a href="#">Fantasy</a></li>
                  <li><a href="#">Fiction</a></li>
                  <li><a href="#">Crime</a></li>
               </ul>
            </div>
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Latest Novels</title>
            </head>
            <body>
                <div class="movies_section_2 layout_padding">
                    <h2 class="letest_text">Latest Novels</h2>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                    <div class="movies_main">
                        <div class="iamge_movies_main">
                            <div class="iamge_movies">
                                <div class="image_3">
                                    <a href="http://127.0.0.1:8000/book/8/">  <img src="{% static 'images/lee.jpg' %}" class="image" style="width:100%">
                                    <div class="middle">
                                        <div class="playnow_bt">Play Now</div>
                                    </div>
                                </div>
                                <h1 class="code_text">I am Charlotte Simmons</h1>
                                <p class="there_text">There are many variations </p>
                                <div class="star_icon">
                                    <ul>
                                        <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                        <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                        <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                        <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                        <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    </ul>
                                </div>
                            </div>
                     
            
                            <div class="iamge_movies">
                              <div class="image_3">
                                <a href="http://127.0.0.1:8000/book/8/"><img src="{% static 'images/harry.jpg' %}" class="image" style="width:100%">
                                  <div class="middle">
                                      <div class="playnow_bt">Details</div>
                                  </div>
                              </div>
                              <h1 class="code_text">Harry Potter</h1>
                              <p class="there_text">There are many variations </p>
                              <div class="star_icon">
                                  <ul>
                                      <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                      <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                      <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                      <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                      <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                  </ul>
                              </div>
                          </div>
                          
                          <div class="iamge_movies">
                           <div class="image_3">
                            <a href="http://127.0.0.1:8000/book/9/"> <img src="{% static 'images/img-5.png' %}" class="image" style="width:100%">
                               <div class="middle">
                                   <div class="playnow_bt" >Play Now</div>
                               </div>
                           </div>
                           <h1 class="code_text">TREASURE ISLAND</h1>
                           <p class="there_text">There are many variations </p>
                           <div class="star_icon">
                               <ul>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                               </ul>
                           </div>
                       </div>
                       <div class="iamge_movies">
                           <div class="image_3">
                            <a href="http://127.0.0.1:8000/book/10/">  <img src="{% static 'images/img-6.png' %}" class="image" style="width:100%">
                               <div class="middle">
                                   <div class="playnow_bt">Play Now</div>
                               </div>
                           </div>
                           <h1 class="code_text">The Water-Method Man</h1>
                           <p class="there_text">There are many variations </p>
                           <div class="star_icon">
                               <ul>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                               </ul>
                           </div>
                       </div>
                       
                       <div class="iamge_movies">
                        <div class="image_3">
                            <a href="http://127.0.0.1:8000/book/4/"> <img src="{% static 'images/img-7.png' %}" class="image" style="width:100%">
                            <div class="middle">
                                <div class="playnow_bt">Play Now</div>
                            </div>
                        </div>
                        <h1 class="code_text">Katledrazdu</h1>
                        <p class="there_text">There are many variations </p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    </div>
                    
                    <div class="movies_section_2 layout_padding">
                     <h2 class="letest_text">Latest Novels</h2>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                     <div class="movies_main">
                         <div class="iamge_movies_main">
                             <div class="iamge_movies">
                                 <div class="image_3">
                                    <a href="http://127.0.0.1:8000/book/4/">  <img src="{% static 'images/lee.jpg' %}" class="image" style="width:100%">
                                     <div class="middle">
                                         <div class="playnow_bt">Play Now</div>
                                     </div>
                                 </div>
                                 <h1 class="code_text">LEE CHILD</h1>
                                 <p class="there_text">There are many variations </p>
                                 <div class="star_icon">
                                     <ul>
                                         <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                         <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                         <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                         <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                         <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                     </ul>
                                 </div>
                             </div>
                      
             
                             <div class="iamge_movies">
                               <div class="image_3">
                                <a href="http://127.0.0.1:8000/book/4/">  <img src="{% static 'images/harry.jpg' %}" class="image" style="width:100%">
                                   <div class="middle">
                                       <div class="playnow_bt">Details</div>
                                   </div>
                               </div>
                               <h1 class="code_text">Harry Potter</h1>
                               <p class="there_text">There are many variations </p>
                               <div class="star_icon">
                                   <ul>
                                       <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                       <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                       <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                       <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                       <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                   </ul>
                               </div>
                           </div>
                           
                           <div class="iamge_movies">
                            <div class="image_3">
                                <a href="http://127.0.0.1:8000/book/4/">  <img src="{% static 'images/img-5.png' %}" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="playnow_bt">Play Now</div>
                                </div>
                            </div>
                            <h1 class="code_text">Anton Levin</h1>
                            <p class="there_text">There are many variations </p>
                            <div class="star_icon">
                                <ul>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="iamge_movies">
                            <div class="image_3">
                                <img src="{% static 'images/img-6.png' %}" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="playnow_bt">Play Now</div>
                                </div>
                            </div>
                            <h1 class="code_text">Sacha Styles</h1>
                            <p class="there_text">There are many variations </p>
                            <div class="star_icon">
                                <ul>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                    <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="iamge_movies">
                         <div class="image_3">
                             <img src="{% static 'images/img-7.png' %}" class="image" style="width:100%">
                             <div class="middle">
                                 <div class="playnow_bt">Play Now</div>
                             </div>
                         </div>
                         <h1 class="code_text">Katledrazdu</h1>
                         <p class="there_text">There are many variations </p>
                         <div class="star_icon">
                             <ul>
                                 <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                 <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                 <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                 <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                                 <li><a href="#"><img src="{% static 'images/star-icon.png' %}"></a></li>
                             </ul>
                         </div>
                     </div>
                     </div>
                     </div>
           
      <div class="newsletter_section layout_padding">
         <div class="container">
            <h1 class="newsletter_text">Subscribe Our Newsletter</h1>
            <div class="box_main">
               <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
               <div class="mail_main">
                  <input type="text" class="email_text" placeholder="Enter Your email" name="Enter Your email">
                  <div class="right_arrow">
                     <a href="#"><img src="{% static 'images/right-arrow.png' %}"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- newsletter section end -->
      <!-- cooming  section start -->
      <div class="cooming_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="image_17">
                     <div class="image_17"><img src="{% static 'images/img-17.png' %}"></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <h1 class="number_text">01</h1>
                  <h1 class="Cooming_soon_taital">Cooming soon</h1>
                  <p class="long_text_1">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
                  <div class="paly_bt"><a href="#">Play Now</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_menu">
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="tv.html">TV</a></li>
                  <li><a href="celebs.html">Celebs</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">News</a></li>
               </ul>
            </div>
            <div class="social_icon">
               <ul>
                   <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
               </ul>
           </div>
           
         </div>
      </div>
      <!-- footer  section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         $('#datepicker').datepicker({
             uiLibrary: 'bootstrap4'
         });
      </script>
   </body>
</html>